/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
  "x-large": 1220px
) !default;

/// Spacing and Font sizes
/// @type Length
$xxs-size: 0.25rem !default;
$xs-size: 0.5rem !default;
$s-size: 0.75rem !default;
$m-size: 1rem !default;
$l-size: 1.25rem !default;
$xl-size: 1.5rem !default;
$xxl-size: 2rem !default;

/// Wrapper width
/// @type Length
$wrapper-width: 1220px !default;

/// Default colors
/// @type Color
$white-color: #fff;
$light-gray-color: #f8f8f8;
$alt-gray-color: #e0e0e0;
$gray-color: #ccc;
$dark-gray-color: #aaa;
$light-black: #333;
$black-color: #000;

$purple-color: #8a3e6e;
$red-color: #f05336;
$orange-color: #f59032;
$yellow-color: #f5c539;
$green-color: #7aa32b;

$main-color: $green-color;
$accent-color: $red-color;
$alt-color: $orange-color;
$text-color: $light-black;
